{%extends "layout.njk"%}

{% block head %}

    <title>Cursos - Rocketseat</title>

{% endblock %}

{% block content %}

    <div id="wrapper">
        <h1>Cursos</h1>
    </div>

    <section class="cards">
        {% for item in items %}
            <div class="card {{ item.content }}" id="{{ item.id }}">
                <div class="card_image-container {{ 'featured-wrapper' if item.featured }}">
                    <img src="{{ item.image }}" alt="Imagem de {{ item.id }}"/>
                    {% if item.featured %}
                        <div class="featured">Featured</div>
                    {% endif %}
                </div>
                <div class="card_content">
                    <h1>{{ item.content }}</h1>
                </div>
                <div class="card_info">
                    <p>{{ item.info }}</p>
                    <p class="card_price">{{ item.price }}</p>
                </div>
            </div>
        {% endfor %}

    </section>

    <script src="scripts.js"></script>

{% endblock %}
