@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --color-green: #50fa7b;
  --color-purple: #7159c1;
  --color-orange: #f3cb18a8;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #282a36;
  font-family: "Roboto", sans-serif;
  color: white;
}

header {
  padding: 30px;
  border-bottom: 1px solid #333;
}

.links {
  text-align: center;
}

.links a {
  margin: 0 30px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  line-height: 28px;
}

.links a:hover {
  color: #50fa7b;
  transition: color 200ms;
}

#wrapper {
  text-align: center;
  padding: 32px;
}

#wrapper img {
  border-radius: 50%;
  border: 5px solid var(--color-green);
  margin-bottom: 32px;
  height: 300px;
}

#wrapper h1 {
  font-size: 42px;
  line-height: 52px;
  font-weight: bold;
}

#wrapper h2 {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-top: 8px;
  opacity: 0.8;
}

#wrapper h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  margin-top: 8px;
}

#wrapper h2 {
  max-width: 500px;
  margin: 32px auto;
  font-size: 24px;
  line-height: 34px;
}

#wrapper h3 {
  font-weight: bold;
}

#wrapper p a {
  color: var(--color-green);
}

#wrapper ul li {
  max-width: 500px;
  margin: 18px auto;
  font-size: 18px;
  line-height: 28px;
  list-style-type: none;
}

#links-footer a {
  border-bottom: 1px solid var(--color-green);
}

/* CARDS */

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
  max-width: 80%;
  height: 300px;
  margin: 0 auto;
}

.card {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  padding: 30px;
}

.card_image-container img {
  width: 100%;
  height: 250px;
  margin: 20px auto;
}

.card_content,
.card_info {
  padding: 24px;
  text-align: center;
}

.card_info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.card_price {
  background-color: rgba(0, 0, 0, 0.1);
  filter: brightness(90%);
  padding: 5px 20px;
  border-radius: 20px;
  text-align: center;
}

.purple:hover {
  background-color: var(--color-purple);
  transition: 200ms;
}

.orange:hover {
  background-color: var(--color-orange);
  transition: 200ms;
}

.green:hover {
  background-color: var(--color-green);
  transition: 200ms;
}

/* === MODAL OVERLAY === */

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;

  /* Esconde o overlay quando ele não está ativo */

  opacity: 0;
  visibility: hidden;
}

.modal {
  background-color: white;
  width: 90%;
  height: 90%;
  margin: 5vh auto;
  position: relative;
}

.modal .close-modal {
  color: black;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
}

/* === MODAL.ACTIVE === */

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

iframe {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 5%;
}

/* === NOT FOUND PAGE === */

.not-found {
  text-align: center;
}

.title {
  color: white;
  font-size: 48px;
  line-height: 58px;
  margin: 50px auto 30px auto;
}

.not-found ol li {
  color: white;
  font-size: 18px;
  line-height: 26px;
  width: 50%;
  margin: 45px auto;
}
